@import "tailwindcss";

@theme {
  --font-custom: var(--font-custom);

  /* Define your global custom colors here */
  --color-waterloo: #090A0C;      /* e.g., bg-primary, text-primary */
  --color-colonial: #FFF0BA; /* e.g., bg-primary-dark */
  --color-pregold: #D4AF37;         /* e.g., text-dark, bg-dark */
  --color-navy: #1E293B;
  --color-lightgold: #FFF0BA;
}

